<footer>
    <div id="footer-navigation">
        <ul id="nav-menu" class="clean-list">
        <li>About the Studio</li>
        <li>Services</li>
        <li>People</li>
        <li>Our Work</li>
        </ul>
    </div>
    <div id="footer-info">
        <ul id="contact-info" class="clean-list">
            <li id="email-phone">hello@calibrate.studio • (424) 278-4607</li>
            <li id="mailing-address">269 S. Beverly Dr #213 Beverly Hills, CA 90212</li>
        </ul>
    </div>
</footer>